[submodule "retos/comprobador HC2015/soluciones/jorpilo"]
	path = retos/comprobador HC2015/soluciones/jorpilo
	url = https://github.com/jorpilo/HashCode2015-Checker.git
[submodule "retos/Traslados/soluciones/jorpilo"]
	path = retos/Traslados/soluciones/jorpilo
	url = https://github.com/jorpilo/Traslados.git
